In [107]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [108]:
# 10.1 Identifying Missing Data
# We will use the orders table from Super Store for these tasks

# original line ***CONFUSED WITH WHAT FILE TO USE*** orders = pd.read_csv('./datasets/orders.csv')
# NO FILE NAMED ./datasets/orders.csv exist in the shared drive, only Dataset_HR.xlsx file

# A. Start with some exploratory analysis methods to inspect the data

order = pd.read_csv("orders.csv")
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999991 entries, 0 to 999990
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     999991 non-null  object
 1   order_date   999991 non-null  object
 2   ship_date    999991 non-null  object
 3   ship_mode    999991 non-null  object
 4   customer_id  999991 non-null  object
 5   product_id   999991 non-null  object
 6   sales        999991 non-null  float64
 7   quantity     999991 non-null  int64
 8   discount     999991 non-null  float64
 9   profit       999991 non-null  float64
 10  postal_code  192888 non-null  float64
 11  region_id    999795 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 91.6+ MB

In [87]:
order.shape

(999991, 12)

In [88]:
order.head(-1)

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.30,0.30,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.30,0.30,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,1826.0
...,...,...,...,...,...,...,...,...,...,...,...,...
999985,ZI-2020-4818465,2020-01-08,2020-01-09,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3104.0
999986,ZI-2020-495856,2020-01-04,2020-01-09,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3210.0
999987,ZI-2020-5409624,2020-01-13,2020-01-18,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3539.0
999988,ZI-2020-5478741,2020-01-10,2020-01-10,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3855.0
999989,ZI-2020-5986855,2020-01-08,2020-01-11,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,783.0

In [89]:
# B. Which column has the most missing data? Sort the columns by sum of null values



#order.isnull().sum()

order.count().idxmin()

'postal_code'

In [117]:
# C. Looks like postal_code is our biggest problem, along with region_id
# Use a combination of filtering, isnull, and sum to count how many rows are missing both columns

order[order["postal_code"].isnull() == True]

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.30,0.30,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.30,0.30,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,1826.0
...,...,...,...,...,...,...,...,...,...,...,...,...
999985,ZI-2020-4818465,2020-01-08,2020-01-09,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3104.0
999986,ZI-2020-495856,2020-01-04,2020-01-09,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3210.0
999987,ZI-2020-5409624,2020-01-13,2020-01-18,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3539.0
999988,ZI-2020-5478741,2020-01-10,2020-01-10,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3855.0
999989,ZI-2020-5986855,2020-01-08,2020-01-11,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,783.0

In [118]:
order["postal_code"].isnull().sum()

807103

In [115]:

region = order[order["region_id"].isnull() == True]
print(region)

order["region_id"].isnull().sum()

               order_id  order_date   ship_date       ship_mode customer_id  \
4389     AJ-2018-587427  2018-08-01  2018-08-02    Second Class     CA-2310
4868       AL-2017-9980  2017-07-28  2017-08-02  Standard Class     JD-6015
21366   CA-2017-1203756  2017-05-16  2017-05-20  Standard Class    LL-16840
25536   CA-2017-1978489  2017-09-20  2017-09-21        Same Day     NF-8475
33360   CA-2017-4114071  2017-08-18  2017-08-20        Same Day    AS-10240
...                 ...         ...         ...             ...         ...
984423  US-2019-5305533  2019-05-11  2019-05-14  Standard Class    DW-13585
986981  US-2019-5613589  2019-09-20  2019-09-20    Second Class    PR-18880
987804  US-2019-5713764  2019-02-11  2019-02-15  Standard Class    SW-20245
989316  US-2019-5907039  2019-08-02  2019-08-03  Standard Class    JD-15790
999309  ZI-2019-3158931  2019-12-04  2019-12-05  Standard Class     NG-8430

              product_id    sales  quantity  discount  profit  postal_code  \
4389    TEC-CIS-10002986   141.33         1      0.38    0.34          NaN
4868    FUR-BUS-10001243   414.03         1      0.45  202.86          NaN
21366    FUR-FU-10001468  1196.86         7      0.07    0.05          NaN
25536   OFF-KLE-10004112    76.26         2      0.07    0.05          NaN
33360    OFF-PA-10003072    10.37         2      0.12    0.10          NaN
...                  ...      ...       ...       ...     ...          ...
984423   FUR-BO-10003433   198.27         8      0.25    0.19          NaN
986981   TEC-PH-10004667   431.97         4      0.35    0.29          NaN
987804   FUR-CH-10002880   196.78         2      0.20    0.14          NaN
989316   FUR-TA-10002582   179.44         3      0.45    0.38          NaN
999309  OFF-SAN-10004824     7.83         1      0.15    0.10          NaN

        region_id
4389          NaN
4868          NaN
21366         NaN
25536         NaN
33360         NaN
...           ...
984423        NaN
986981        NaN
987804        NaN
989316        NaN
999309        NaN

[196 rows x 12 columns]

196

In [119]:
# D. Let's drop the region_id nulls from the dataframe before proceeding
order.drop(order[order["region_id"].isnull() == True].index, inplace=True)

#https://www.freecodecamp.org/news/drop-list-of-rows-from-pandas-dataframe/#:~:text=To%20drop%20a%20row%20or%20column%20in%20a%20dataframe%2C%20you,method%20in%20the%20docs%20here.&text=Rows%20are%20labelled%20using%20the,Columns%20are%20labelled%20using%20names.

In [121]:
order.isnull().sum()

order_id            0
order_date          0
ship_date           0
ship_mode           0
customer_id         0
product_id          0
sales               0
quantity            0
discount            0
profit              0
postal_code    806907
region_id           0
dtype: int64

In [153]:
# E. It's the dream scenario! The IT team confirms all missing postal_code values should be 10001.0

order.loc[(order["postal_code"].isnull() == True)]

order['postal_code'] = np.where((order["postal_code"].isnull() == True),'10001.0', order["postal_code"])

#https://kanoki.org/2019/07/17/pandas-how-to-replace-values-based-on-conditions/

In [158]:
order[order["postal_code"] != "10001.0"]

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
10,AE-2016-4021172,2016-09-16,2016-09-21,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,91941.0,4553.0
16,AE-2018-1130,2018-10-14,2018-10-14,Same Day,EB-4110,FUR-BUS-10003055,224.75,6,0.45,-232.27,80013.0,4553.0
21,AE-2018-1367772,2018-12-16,2018-12-16,Second Class,MY-7380,OFF-TEN-10002817,6.97,1,0.33,0.29,98115.0,4553.0
23,AE-2018-1530,2018-12-31,2019-01-03,Second Class,MY-7380,OFF-STI-10000114,16.67,2,0.30,-29.47,48066.0,1488.0
24,AE-2018-1530,2018-12-31,2019-01-03,Second Class,MY-7380,OFF-TEN-10002817,6.97,1,0.30,-8.60,98115.0,4553.0
...,...,...,...,...,...,...,...,...,...,...,...,...
999968,ZI-2020-177002,2020-01-12,2020-01-17,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,43017.0,5636.0
999977,ZI-2020-2684814,2020-01-21,2020-01-21,Standard Class,JM-5250,FUR-SAF-10002314,49.65,1,0.22,0.14,45231.0,5636.0
999981,ZI-2020-3697276,2020-01-07,2020-01-11,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,37918.0,3688.0
999982,ZI-2020-389239,2020-01-10,2020-01-11,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,32174.0,3688.0
999990,ZI-2020-863102,2020-01-22,2020-01-27,Standard Class,JM-5250,FUR-SAF-10002314,49.65,1,0.22,0.14,77095.0,1488.0

In [94]:
# 10.2 Cleaning Our Data
# A. Write a profit_margin function that accepts a row of data, which is a dictionary
#    It should return the result of dividing the profit column by the sales column (i.e. profit/sales)

In [95]:
# B. Create a new column in the orders dataframe called 'profit_margin' by applying the profit margin function row-by-row

In [96]:
# C. Use the same process to create a new column called margin_category
# If the profit_margin is less than 0, the margin_category should be "unprofitable"
# If the profit_margin is 0, the margin_category should be "break even"
# If the profit_margin is above 0, the margin_category should "profitable"

In [97]:
# D. How many of our orders were unprofitable?

In [98]:
# 10.3 GroupBy Insights
# Segment the following data and explore aggregate values to answer the following questions

In [99]:
# A. Which discount results in the highest mean order quantity?

In [100]:
# B. Which product has the highest mean price discount applied?

In [101]:
# 10.4 Joining DataFrames
# The below example joins our first two dataframes by their shared column, Symbol
openprice = pd.DataFrame({'Symbol': ['AAPL', 'DHR', 'DAL', 'AMZN'], 'OpenPrice': [217.51, 96.54, 51.45, 1703.34]})
wkhigh = pd.DataFrame({'Symbol': ['DAL', 'AMZN', 'AAPL', 'DHR'], '52wkHigh': [60.79, 2050.49, 233.47, 110.11]})
combined = pd.merge(openprice, wkhigh, how="left", left_on='Symbol', right_on='Symbol')
combined.head()

  Symbol  OpenPrice  52wkHigh
0   AAPL     217.51    233.47
1    DHR      96.54    110.11
2    DAL      51.45     60.79
3   AMZN    1703.34   2050.49

In [102]:
# A. Join the stockname dataframe to our combined result and print the result
stockname = pd.DataFrame({'Symbol': ['AMZN', 'DHR', 'DAL', 'AAPL'], 'Name': ['Amazon', 'Danaher', 'Delta Airlines', 'Apple']})

In [103]:
# B. Use the following tables from Super Store
products = pd.read_csv('./datasets/products.csv')
orders = pd.read_csv('./datasets/orders.csv')
returns = pd.read_csv('./datasets/returns.csv')
regions = pd.read_csv('./datasets/regions.csv')

FileNotFoundError: [Errno 2] No such file or directory: './datasets/products.csv'

In [ ]:
# i. We want to join the products and orders dataframes. 
#    Explore both dataframes to identify the common column between them
#    Use a left join to combine the tables in a dataframe named orders_with_products

In [ ]:
# ii. Left join the orders_with_products and returns dataframes

In [ ]:
# iii. Finally, add the region data to our combined dataframe

In [ ]:
# iv. Let's use this combined dataframe to determine the salesperson generating the most profit